@import 'antd/dist/antd.css';

.ErrorLogger {
	height: auto;
	max-height: 200px;
	overflow-y: scroll;
	width: 100%;
	background-color: #eee;
	padding: 10px;
	font-family: monospace;
	font-size: 14px;
}